.finanzas{
    background-image: url('../img/descubre-finanzas.jpg');
    background-size: cover;
    background-position: center 50%;
    height: 55%;
}

.finanzas-miedo{
    color: black;
    grid-template-columns: 34% 64%;
    height: 49%;
    margin-bottom: 40px;
}

.finanzas-miedo img{
    height: 100%;
    justify-self: center;
}

.finanzas-miedo h6{
    align-self: center;
    font-size: 1.3rem;
}

.separador{
    height: 15%;
    width: 100%;
    background-color: #000;
}
.finanzas-separator{
    height: 170px;
    grid-template-columns: 34% 64%;
    margin: 30px auto;
}

.finanzas-separator h1{
    align-self: center;  
    /* justify-self: center;  */
}

.finanzas-separator b{
    align-self: center;
    font-size: 1.5rem;  
    font-weight: 300; 
}

.icons-finanzas{
    grid-template-columns: none;
    grid-template-rows: auto auto;
}

.unique-icon{
    grid-template-columns: 34% 64%;
    color: #000;
    height: 16%;
    margin-top: 30px;
}

.unique-icon h6{
    justify-self: center;
    align-self: center;
}

.unique-icon img{
    height: 80%;
    justify-self: center;
    align-self: center;
}

.inverse{
    grid-template-columns: 64% 34%;
}
div img.malhabito{
    height: 25%;
    align-self: baseline;
}

.conclusion b{
    font-size: 1.2rem;
}

.conclusion{
    height: auto;
}

@media only screen and (max-width: 768px){
    .finanzas-miedo{
        grid-template-columns: none;
        grid-template-rows:none;display: block;
        padding: 15px;
        height: 85%;
    }
    .finanzas-miedo img{
        height: 190px;
        justify-self: start;
    }
    .finanzas-separator{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: flex-start;
        margin: 0;
        padding: 15px;
        height: auto;
    }
    .finanzas-separator b {
        font-size: 1.3em;
    }
    .finanzas-separator h1{
        align-self: initial;  
    }
    .separador{
        height: 30%;
    }
    .unique-icon{
        display: flex;
        flex-direction: column;
        justify-items: flex-start;
        align-items: flex-start;
        margin: 60px 0;
        padding: 15px;
        text-align: justify;
    }
    .unique-icon img {
        height: 110px;
        justify-self: start;
        align-items: flex-start;
        align-self: initial;
    }

    .unique-icon h6 b{
        font-size: 1.4em;
    }
    .inverse{
        flex-direction: column-reverse;
        justify-items: flex-start;
        align-items: flex-end;
    }
    div img.malhabito{
        height: 110px;
    }
    .unique-icon ul {
       padding-left: 30px;
       padding-right: 15px;
    }

    .conclusion{
        height: 40%;
    }
}
