{% extends "layout.html" %}
{% block content %}
<header class="finanzas"></header>
<section class="contenedor finanzas-miedo">
    <img src="{{ url_for('static',filename='img/arana.svg') }}" alt="">
    <h6>
        <b>Fuera miedo, quitemos las telarañas.</b><br><br>
        Por mucho tiempo el sistema nos ha hecho creer que hablar de temas de dinero es difícil y solo algunos sabios saben cómo manejarlo. Tú puedes y debes saber cómo utilizar el dinero, porque es tuyo, tú lo ganaste y es tu derecho hacer rendir los frutos de tu esfuerzo. Queremos ayudarte a entender este mundo y brindarte las herramientas çmás eficientes y amigables para que puedas alcanzar todas tus metas financieras.
    </h6>
</section>
<section class="separador">
    <div class="contenedor finanzas-separator">
        <h1>Finanzas</h1>
        <b>Rama de la economía que estudia el intercambio de capital.</b>
    </div>
</section>
<section>
    <div class="contenedor unique-icon">
        <img src="{{ url_for('static',filename='img/finanzas/finanzas-01.svg')}}" alt="">
        <h6>
            <b>
                Fortuna / capital
            </b>
            <br>
            <br>
            La fortuna o riqueza es la posesión privada de bienes, sin importar el origen de los mismos. Por el contrario, el capital ha sido obtenido a partir de medios de producción y su objetivo es seguir siendo invertido en estos medios de producción para producir más.
        </h6>
    </div>
    <div class="contenedor unique-icon inverse">
        <h6>
            <b>
                Ahorro / inversión
            </b>
            <br>
            <br>
            Cuando ahorras, tu dinero está estático y se queda así como está. Si hoy compras unas galletas por $10, en unos años esas mismas galletas costarán $15 por causa de la inflación, por lo que ese dinero ahorrado valdrá menos cuando pasen los años. Por el contrario, si inviertes, tu dinero será empleado en el desarrollo de proyectos de producción masiva que hacen que al paso de los años tengas más de lo que ingresaste. La inversión es la sustentabilidad del dinero.
        </h6>
        <img src="{{ url_for('static',filename='img/finanzas/finanzas-02.svg')}}" alt="">
    </div>
    <div class="contenedor unique-icon">
        <img src="{{ url_for('static',filename='img/finanzas/finanzas-03.svg')}}" alt="">
        <h6>
            <b>
                Intereses / réditos
            </b>
            <br>
            <br>
            Cuando alguien te presta dinero, te cobra un porcentaje extra por ayudarte, esto se conoce como interés. Al invertir, estás confiando tu dinero a la entidad financiera, la cual suma tu capital al capital colectivo que trabaja en proyectos de producción a gran escala. Al concluir tu plazo, se te regresá un porcentaje extra; esto se conoce como réditos.
        </h6>
    </div>
    <div class="contenedor unique-icon inverse">
        <h6>
            <b>
                Plazos
            </b>
            <br>
            <br>
            Al invertir tu capital se establece previamente un tiempo determinado (conocido como plazo fijo) en el que la entidad financiera utilizará tu dinero en los proyectos que considere que son los mejores y más seguros para obtener mayores rendimientos. Solo podrás retirar tu inversión hasta que se cumpla el plazo convenido. Mientras mayor sea el plazo de tu inversión, mejor rendimiento tendrá.
        </h6>
        <img src="{{ url_for('static',filename='img/finanzas/finanzas-04.svg')}}" alt="">
    </div>
    <div class="contenedor unique-icon">
        <img src="{{ url_for('static',filename='img/finanzas/finanzas-05.svg')}}" alt="">
        <h6>
            <b>
                Tasa de interés
            </b>
            <br>
            <br>
            Al invertir tu capital se establece previamente un tiempo determinado (conocido como plazo fijo) en el que la entidad financiera utilizará tu dinero en los proyectos que considere que son los mejores y más seguros para obtener mayores rendimientos. Solo podrás retirar tu inversión hasta que se cumpla el plazo convenido.Mientras mayor sea el plazo de tu inversión, mejor rendimiento tendrá.
        </h6>
    </div>
    <div class="contenedor unique-icon inverse">
        <h6>
            <b>
                Inflación
            </b>
            <br>
            <br>
            Es el aumento generalizado y sostenido del nivel de precios existentes en el mercado durante un periodo de tiempo, cuando el nivel general de precios aumenta. Es decir, la inflación refleja la disminución del poder adquisitivo de la moneda.
        </h6>
        <img src="{{ url_for('static',filename='img/finanzas/finanzas-06.svg')}}" alt="">
    </div>
    <div class="contenedor unique-icon">
        <img src="{{ url_for('static',filename='img/finanzas/finanzas-07.svg')}}" class="malhabito" alt="">
        <h6>
            <b>
                Malos hábitos
            </b>
            <br>
            <br>
            <ul>
                <li>Sobreendeudarte. Eso solo te llenará de estrés y angustia. Trata de pagar el saldo completo de tu tarjeta de crédito cada mes y no adquieras lo que está más allá de tus posibilidades reales.</li>
                <li>Compra a meses lo que te vaya a durar mucho más que esos meses que te tardarás en pagarlo. Pagar el super de la semana a meses sin intereses, no es buena idea.</li>
                <li>No tener un presupuesto. Es muy fácil que los gastos se salgan de control si no llevas un registro de qué es lo que estás comprando y consumiendo cada mes. Comienza por hacer una lista con tus gastos fijos (renta, agua, luz, internet, comida, transporte, etc.) y compárala con tus ingresos; de esa forma sabrás de cuánto dinero extra dispones y podrás decidir qué hacer con él. Actualmente existen apps que pueden ayudarte a hacer tu presupuesto y llevar el seguimiento de tus gastos.</li>
                <li>Comprar por impulso. Dile NO a todos esos banners llenos de colores, con ofertas tentadoras, fotografías de hermosos productos que te aparecen por todos lados y te dicen que hoy es el último día para esa oferta.</li>
                <li>Dile NO a comprar cosas que no necesitas, aunque estén muy de moda.</li>
                <li>Dile NO a suscribirte a todos los servicios de entretenimiento en línea.</li>
                <li>Haz tu presupuesto, revisa tus prioridades y adquiere lo que te acerque a tus metas personales.</li>
                <li>Tener un estilo de vida por arriba de tus posibilidades. Todos los días comes en un restaurante, cada mes estrenas ropa, tres veces al año te vas de viaje y estás manejando un auto nuevo. ¿Te sobra un extra que puedes invertir? ¿tienes un porcentaje destinado a imprevistos? o ¿tal vez sufres todo el tiempo para pagar todas estas cosas?</li>
            </ul><br>
            Siempre hay forma de disminuir tus gastos y seguir disfrutando la vida. Haz tu presupuesto, sé consciente de tus ingresos y reorganiza tus gastos para que dejes atrás el estrés y puedas crear tu capital.
        </h6>
    </div>
</section>
<section class="separador conclusion">
    <div class="contenedor finanzas-separator">
        <h1>En conclusión
        </h1>
        <b>
            Tu capital se invierte en un plazo fijo para obtener réditos con una mejor tasa de interés para ti.
            <br>
            <br>
            <a href="#">
                <button class="primi black  btn-clt">
                   Invierte con nosotros
             </button>
             </a>
        </b>
    </div>
</section>
{% endblock content %}