{% extends "layout.html" %}
{% block content %}
<header>
    <div class="contenedor fondo">
        <div></div>
        <div class="info">
            <h2>Queremos acercar la cultura financiera a todas las personas</h2>
            <a href="#">
                <button class="primi">Aprende más</button>
            </a>
        </div>
    </div>
</header>
<section  class="contenedor content-gnrl">
    <div class="text-naica align">
        <h1>Naica</h1>
    </div>
    <div class="text-naica text">
        <h6>
           <b>Escalar alto y aprender para que México sea mejor.</b><br> 
            El conocimiento siempre ilumina todos los caminos y cuando ves en 
            dónde pisas es menos probable que te caigas. Todos podemos tener más a 
            partir de lo que generamos y en conjunto, es posible crear mecanismos 
            y proyectos que hagan de México el país desarrollado que todos 
            queremos.
        </h6>
    </div>
    </section>
    <section class="bg">
        <div class="contenedor icons">
            <h1>Hacemos fácil lo dificíl</h1>
            <div class="bg-icons">
                <div class="subcont">
                    <img src="img/e-fd-01.svg" alt="">
                    <h6>
                        <b>Experencia</b><br>
                        Durante más de 10 años hemos perfeccionado el proceso para hacer crecer el capital de nuestros inversionistas. Sabemos qué es lo que sí funciona y cómo hacerlo, sin arriesgar tu dinero.
                    </h6>
                </div>
                <div class="subcont">
                    <img src="img/e-fd-02.svg" alt="">
                    <h6>
                        <b>Negocios</b><br>
                        Nacimos en el ecosistema de negocios y en este nos hemos desarrollado. Por lo que conocemos cuáles son las formas más eficientes y seguras para darte un mayor rendimiento.
                    </h6>
                </div>
                <div class="subcont">
                    <img src="img/e-fd-03.svg" alt="">
                    <h6>
                        <b>Red Corporativa</b><br>
                        Nuestro consorcio nos permite encontrar los proyectos más interesantes para hacer crecer tu dinero y, de paso, generar desarrollo en nuestro país.
                    </h6>
                </div>
                <div class="subcont">
                    <img src="img/e-fd-04.svg" alt="">
                    <h6>
                        <b>Análisis</b><br>
                        Algunos proyectos de inversión prometen grandes rendimientos, pero son riesgosos, pues dependen de lo que pase en el mundo o de lo que decidan los gobiernos. Nuestra tarea es encontrar los proyectos más seguros.
                    </h6>
                </div>
                <div class="subcont">
                    <img src="img/e-fd-05.svg" alt="">
                    <h6>
                        <b>Trámites</b><br>
                        Nosotros nos encargamos de todos los trámites entre Naica y los proyectos de inversión, tú solo relájate.
                    </h6>
                </div>
                <div class="subcont">
                    <img src="img/e-fd-06.svg" alt="">
                    <h6>
                        <b>Cuidamos tu dinero</b><br>
                        Has trabajado mucho por tu capital, tu patrimonio y agradecemos que nos lo confíes para hacerlo crecer. No hay nada más importante para nosotros que mantenerlo seguro para que nunca lo pierdas.
                    </h6>
                </div>
            </div>
        </div>
    </section>
    <section class="img-back  bg1"></section>
    <section class="contenedor decimosno">
       <div class="textdecimos">
           <h6>
               <b>Le decimos NO a:</b> <br>
               <b>La corrupción</b> <br>
               No la necesitamos para lograr nuestras metas <br>

               <br>
               <b>Al viejo sistema</b> <br>
               Que no nos permite crecer<br>

                <br>
               <b>A dejar las cosas a medias</b> <br>
               Hay que hacer todo bien, siempre<br>

               <br>
               <b>Gastar nuestra vida</b> <br>
               Es poco el tiempo que tenemos, como para gastarlo en trámites tardadoss<br>
           </h6>
           <a href="#">
               <button class="primi black">            Conoce nuestros instrumentos de inversión
            </button>
            </a>
       </div>
    </section>
    <section class="img-back  bg2"></section>
    <section class="nuestro-clientes">
        <div class="contenedor clientes">
            <div class="cli1">
                <h1>Nuestros Clientes</h1>
                <img src="img/clientes.svg" alt="">
            </div>
            <div class="cli2">
                <h6>
                    <b>Contamos con clientes en todo el mundo y una tasa del 100% de satisfacción.</b> <br><br>
                    Hoy es fácil invertir desde donde quiera que estés, porque ni siquiera necesitas moverte de donde estés. <br>
                    Y sobre la tasa de satisfacción, nadie se ha quejado hasta ahora por recibir más de lo que invirtieron.
                </h6>
                <a href="#">
                    <button class="primi black  btn-clt">
                        Se cliente Naica
                 </button>
                 </a>
            </div>
        </div>
        <div class="contenedor invertimos">
            <h1>¿En qué invertimos?</h1> <br>
            <h6>
                <b>
                    Analizamos con precisión los proyectos donde invertimos para garantizar tu inversión inicial y tus rendimientos. 
                </b>
                <br>
                <br>
                Invertimos en proyectos reales, seguros, legales y que brinden los mayores beneficios para todos. <br>
                
                Agrupamos un consorcio de empresas que nos permiten diversificar las inversiones, obtener mayores beneficios y diluir los riesgos.
            </h6>
        </div>
        <div class="contenedor img-normal default">
            <img src="img/agricultura.svg" alt="">
            <h6>
                <b>
                    Agricultura 
                </b>
                <br>
                <br>
                Vivimos en un país rico en recursos naturales; con agricultores de gran experiencia y un gran amor por el campo. Los proyectos agrícolas en los que invertimos son productivos, estables y generan los réditos esperados, por lo que benefician al país y a sus comunidades.
            </h6>
        </div>
        <div class="contenedor img-invert default">
            <h6>
                <b>
                    Tecnología 
                </b>
                <br>
                <br>
                Se trata de una labor colaborativa a nivel mundial que mejora la vida de todos y permite el desarrollo de nuevos materiales, procesos o productos que al patentarlos y recibir el pago por su uso, se convierten en una fuente de ingresos importante. Siempre hay algo nuevo por descubrir, por lo que es una fuente inagotable de recursos.
            </h6>
            <img src="img/tecnologiados.svg" alt="">
        </div>
        <div class="contenedor img-normal default">
            <img src="img/energia.svg" alt="">
            <h6>
                <b>
                    Energía 
                </b>
                <br>
                <br>
                Apostamos por las energías renovables, que además de generar electricidad, calor o incluso frío, nos permiten cuidar nuestro planeta. Para nosotros es prioridad tener una visión a largo plazo, on proyectos que beneficien a nuestros inversionistas y a toda la comunidad. Las energías renovables no son cuestión de moda, son cuestión de tiempo.
            </h6>
        </div>
        <div class="contenedor img-invert default">
            <h6>
                <b>
                    Construcción 
                </b>
                <br>
                <br>
                Los proyectos que elegimos cuentan con el análisis GRUP (Giro, Rentabilidad, Ubicación, Plusvalía). Invertimos en proyectos sólidos diseñados por profesionales que además aumentan la plusvalía del área en la que se encuentran. Estos se convierten en polos para la generación de empleos, en viviendas de familias felices y progreso general para el entorno.
            </h6>
            <img src="img/construccion.svg" alt="">
        </div>
        <div class="contenedor img-normal default">
            <img src="img/b-divisas.svg" alt="">
            <h6>
                <b>
                    Compraventa de divisas 
                </b>
                <br>
                <br>
                En pocas palabras se trata de comprar las divisas cuando están a la baja y venderlas cuando están a la alta. Pero aunque suena fácil es todo un arte; nuestros expertos saben cuándo y cómo hacerlo de la forma más segura.
            </h6>
        </div>
        <div class="contenedor img-invert default">
            <h6>
                <b>
                    Software 
                </b>
                <br>
                <br>
                La interacción de datos y su vinculación con nuestra vida diaria es cada vez más palpable. Los desarrolladores son grandes artistas del lenguaje de programación que crean grandes herramientas con sus sistemas. Hoy estamos rodeados de software y quien tiene la información, tiene un activo de gran valor en sus manos. Invertimos en desarrollo de software porque con ello logramos que tu dinero trabaje.
            </h6>
            <img src="img/software.svg" alt="">
        </div>
    </section>
    <div class="contenedor visit">
         <h1> Visitanos</h1>
    </div>
    <section class='visitanos'>
    </section>
    <div class="contenedor visit">
        <h6> 
            <b>
                Vive la experiencia Naica
            </b> <br>
            Detrás de todos nuestros protocolos siempre hay una persona, así que serás atendido por uno de nosotros. Sabemos que no es fácil confiar en alguien que no has visto, queremos conocerte.
        </h6>
   </div>
{% endblock content %}